@import 'normalize.css';

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

$color-main: white;
$menu-text: rgba(31, 32, 65, 0.5);
$secondary-text: rgba(31, 32, 65, 0.75);
$footer-heading-color: #1f2041;

* {
  box-sizing: border-box;
}

body {
  @include font-montserrat;
}

.list {
  list-style: none;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-item {
  margin-left: 20px;
}

.menu-buttons {
  @include font-montserrat;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  min-width: 87px;
  min-height: 34px;
  border: 2px solid #8ba4f9;
  border-radius: 22px;
}

.reg {
  min-width: 196px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border:2px solid #8ba4f9;
  color: #fff;
}


.main-header{
  position: relative;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  color: $menu-text;
  &__svg-list {
    display: flex;
    align-items: center;
    margin-left: 140px;
    // outline: 2px solid red;

    &-circle {
      margin-right: 12.5px;
    }
  }

  &__nav-list {
    display: flex;
    align-items: baseline;
    // outline: 2px solid red;
    margin-right: 140px;
    // align-items: flex-end;
  }
}

.main-photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: auto;
  background: url('../img/image3.png') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);

  .main-photo__items-container {
  
  &_text {
    width: 297px;
    height: 48px;
    margin-top: 700px;
    margin-right: 81px;
    margin-bottom: 18px;
    }
  }
}

.footer-nav h2 {
  color: $footer-heading-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer-nav {
  font-size: 14px;
  line-height: 17px;
  margin: 39px 0 140px 0;
  color: $menu-text;
  display: flex;
  justify-content: space-between;


  &__description {
    color: $secondary-text;
    margin-left: 140px;

    &_logo-container {
      display: flex;
      align-items: center;
      &_text {
        margin-left: 13px;
      }

    }
    &_text-container {
      width: 260px;
      font-size: 14px;
      line-height: 24px;
      margin-top: 39px;
    }
  }
  &__menu {
    text-align: left;
  }
  &__subscribers {
    margin-right: 140px;
    &__subscribers_description {
      width: 260px;
    }
  }
  &__copyrights {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;

    &_logo {
      display: flex;
      &-svg {
        margin-left: 20px;
      }
    }
  }
}

input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);;
}

.popupp h2 {
  margin: 0;
}
.popupp {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 380px;
  display: flex;
  flex-direction: column;
  top: 140px;
  left: 140px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__form {

    &-inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_item {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
      }
    }
  }
}


.text-input {
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

color: rgba(31, 32, 65, 0.75);
}

.input-area {
  width: 150px;
}

.footer-list {
  padding: 0;
}
.guests-container {
  width: 100%;
}

.form-submit {
  margin-top: 30px;
}